.toolbar{
  background-color: green;
  display: flex;
  justify-content: space-between;
  
}

.nombreTool{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  flex-grow: inherit;
  

}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18em;
}