.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    position: sticky;
    top: 3.6rem;
    z-index: 1;
    max-width: 40rem;
    min-width: 40rem;
    height: fit-content;
    align-self: flex-start;
    justify-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.1s ease-in-out;
    margin-top: 70px;
}

.infoProduct{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.botones{
    display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.8rem; /* Tamaño de fuente reducido */
}