.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }

 .card {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        200px,
        1fr
      )
    );
    gap: 1rem;
 }
 
 .quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.anadir{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 1rem;
      font-size: 0.1rem; /* Tamaño de fuente reducido */
 }